.col-xs-12{
	background-color: orange;
	color: white;
	text-align: center;
	padding: 2em;
	font-size: 30px;
	float: left;
	
	  top: 0;
	  left: 0;
	  z-index: 999;
	  width: 100%;
	  margin-bottom: 1em;
}

h1{
	text-align: center;
	color: white;
}

h2{
	float:left;
}

label{
	display: inline;
}

.pricer{
	float: right;
}

.teaItem{
	display: block;
}

.imgData{
	width: 10%;
}

.teaData{
	width: 100%;
}

.btn{
	float:  right;
	margin-bottom: 2%;
}

.quantityLabel{
	display: inline;
	margin-left: 65%;
}

.amt{
	display: inline;
}

.searchName{
	display: inline;
	margin-left: 1%;
}

.data{
	display: inline;
	margin-left: 1px; 
}

.priceLabel{
	margin-left: 70%; 
}

.ordTotal{
	float:right;
}