<div>

      <div class="searchSpace">
            <input id="searchBox" class="form-control" ng-model="query" ng-change="algoliaSearch()" placeholder="Tea name, Category, Price...">
      </div>
      <div class="powered-by-box">
              Search powered by
              <a class="powered-by-link" href="https://www.algolia.com/?utm_source=instantsearch.js&amp;utm_medium=website&amp;utm_content=community.algolia.com&amp;utm_campaign=poweredby" target="_blank">
                Algolia
              </a>
      </div>

      <table  class="table table-bordered">
            <tr class="tableHeader">
              <th scope="col">Tea</th>
              <th scope="col">Information

                  <button class="ckout btn btn-danger" ng-click="displayCart()">
                     <strong>Checkout</strong> |
                     Bag: <span ng-if="cart.length > 0">({{cart.length}})</span>
                     <span ng-if="cart.length === 0">Empty!</span>
                   </button>

                  <div class="priceLabel">
                	    <label class="priceOptions">Sort by Price: </label>
                		<select class="priceOptions" ng-model="sortByPrice" >
                			<option value='-price'>Highest</option>
                			<option value='price'>Lowest</option>
                		</select> 
                  </div>
              </th>
            </tr>

            <tr class="productLine" ng-repeat="tea in teas | orderBy: sortByPrice |  filter: category" >
            	 <td class ="imgData"><img ng-src="{{tea.imageUrl}}"></td>
            	 <td class ="teaData">
          	  	<h4>{{tea.name}}</h4> 

            	  	<label class="quantityLabel">Quantity</label>
            	  	<select ng-model="tea.quantity" class="amt">
            	  		<option value="1">1</option>
            	  		<option value="2">2</option>
            	  		<option value="3">3</option>
            	  		<option value="4">4</option>
            	  		<option value="5">5</option>
            	  		<option value="6">6</option>
            	  		<option value="7">7</option>
            	  		<option value="8">8</option>
            	  		<option value="9">9</option>
            	  		<option value="10">10</option>
            	  	</select> 

            	  	<mt-bag cart="cart" tea="tea"></mt-bag>
            	  
            	  	<div class="teaItem">
            	  		<label>Price:</label> <p class="data">{{tea.price/100 | currency}} </p>
            	  	</div>
            	  	<div class="teaItem">
          	  		<label>Caffine Scale:</label><p class="data">{{tea.caffeineScale}}</p>
          	  	</div>
          	  	<div class="teaItem">
          	  		<label>Ingredients:</label><p class="data">{{tea.ingredients}}</p>
          	  	</div>
          	  	<div class="teaItem">
          	  		<label>Rating:</label><p class="data">{{tea.rating}}</p> 
          	  	</div>
          	  	<div class="teaItem">
          	  		<label>In Stock:</label> <p class="data">{{tea.inStock}}</p>
          	  	</div>
          		<div class="teaItem">
          	  	  	<label >Categories:</label>
          	  	  	<ul ng-repeat = "category in tea.categories">
          	  	  		<li>{{category}}</li>	
          	  	  	</ul>
            	  	</div>

            	 </td>
            </tr>
      </table>
</div>